<h1>Edit Team Name</h1>
<%= form_for @team, url: team_path(@team.id), method: :put do |f|%>
  <div class="form-group mt-3">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>
  <%= f.submit class: 'black-button'%>
<% end %>